<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="js/js1.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/css2.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" type="text/css" href="css/footer.css" />
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header>
			<div class="head">
				<div class="left">
					<a href="/index">
						<img src="images/logo.png" />
						<p>BLUE BOTTLE COFFEE</p>
					</a>
				</div>
				<ul class="menu">
					<li>
						<a href="/shop">SHOP</a>
						<span class="infos info"><a href="/shop">Subscriptions</a></span>
					</li>
					<li>
						<a href="/bay_area">VISIT</a>
						<ul class="infos visit list-inline">
							<li>
								<a href="/bay_area">Bay Area</a>
							</li>
							<li>
								<a href="/new_york">New York</a>
							</li>
							<li>
								<a href="/los_angeles">Los Angeles</a>
							</li>
							<li>
								<a href="/dc">Washington, D.C.</a>
							</li>
							<li>
								<a href="/miami">Miami</a>
							</li>
							<li>
								<a href="/boston">Boston</a>
							</li>
							<li>
								<a href="/tokyo">Tokyo</a>
							</li>
							<li>
								<a href="/kyoto">Kyoto</a>
							</li>
							<li>
								<a href="/kobe">Kobe</a>
							</li>
							<li>
								<a href="/retailer">Take Home</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javaSCript:void(0)">LEARN</a>
						<ul class="infos visit learn list-inline">
							<li>
								<a href="/our-story">Our Story</a>
							</li>
							<li>
								<a href="/our-coffee">Our Coffee</a>
							</li>
							<li>
								<a href="/coffee-match">Find Your Coffee Match</a>
							</li>
							<li>
								<a href="/preparation-guides">Brew Guides</a>
							</li>
							<li>
								<a href="/events">Events & Classes</a>
							</li>
							<li>
								<a href="/frequency">Blog</a>
							</li>
							<li>
								<a href="/help">FAQs</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/careers">CAREERS</a>
					</li>
				</ul>
				<div class="right">
					<a class="colorful" href="/shop">SUBSCRIBE</a>
					<a href="/sign_in">SIGN IN</a>
				</div>
			</div>
		</header>
		<div class="row signIn">
			<div class="col-md-8 col-md-offset-2 login text-center">
				<div>
					<button type="button" class="close" aria-label="Close" onclick="closeSign()"><span aria-hidden="true" onclick="closeSign()">&times;</span></button>
				</div>
				<img class="plan" src="images/plan.jpg" />
				<div class="text-center">
					<h2>More Cafes Coming Soon</h2>
					<p>Sign up to be the first to know when we're in your area</p>
				</div>
				<div class="text-center">
					<div>
						<input type="" class="name" placeholder="you@yourname.com" />
						<button type="submit" class="btn btn-primary">SIGN UP</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var signIn = document.getElementsByClassName('signIn')[0];

			function closeSign() {
				signIn.style.display = 'none';
			}
		</script>
		<hr />
	<div class="san">
		<div class="dingwei1">
		<p class="ni">COFFEE MATCH</p>
		<p class="ni_you">Your personal guide<br /> to deliciousness</p>
		<p class="wenzi">There’s a dizzying array of coffees out there. Where to start? With a short quiz, Coffee Match finds the coffees that will be beautiful to you.</p>
		<button type="button" class="btn btn-info anliu">GET MATCHED</button>
		</div>
		
	</div>
	<div class="kuang">
		<div class="dingwei2">
		<p class="wenzi2">“Some customers are searching for novelty, excitement, and surprise, while others yearn for routine. Fortunately, we can satisfy both tastes—our guests needn't choose. ”</p>
		<p class="wenzi3">— JAMES FREEMAN, FOUNDER AND CPO</p>
		</div>
	</div>
	<div class="paokafei">
     <div class="row">
      <div class="col-md-4 daxiao">
      	<img class="tu3" src="images/泡咖啡1.jpg" />
      	<p class="wenzi4">EASY</p>
      	<p class="wenzi5">Answer 10 simple questions to bring the expertise of our QC team to your cup.</p>

      </div>
      
      <div class="col-md-4 daxiao">
      		<img class="tu3" src="images/泡咖啡2.jpg" />
      		<p class="wenzi4">QUICK</p>
      	    <p class="wenzi5">Coffee Match only takes a few minutes, so you can get to the good part: tasting coffee.</p>
      </div>
      <div class="col-md-4 daxiao">
      		<img class="tu3" src="images/泡咖啡3.jpg" />
      		<p class="wenzi4">PERSONALIZED</p>
      	    <p class="wenzi5">Get custom coffee recommendations based on your unique flavor preferences.</p>
      </div>
      	<button type="button" class="anliu2 btn btn-primary btn-lg">FIND YOUR FAVORITE</button>
</div>
	</div>
	<div class="fengexian"></div>
	<footer class="row">
			<div class="row">
				<div class="col-md-2 col-md-offset-2">
					<ul>
						<li class="title">BASICS</li>
						<li>
							<a href="/our-story">Our Story</a>
						</li>
						<li>
							<a href="/our-coffee">Our Coffee</a>
						</li>
						<li>
							<a href="/bay_area">Visit</a>
						</li>
						<li>
							<a href="/index">NOLA&Cold Brew</a>
						</li>
						<li>
							<a href="/events">Events</a>
						</li>
						<li>
							<a href="/index">Modern Art Desserts</a>
						</li>
						<li>
							<a href="/help">FAQ</a>
						</li>
						<li>
							<a href="/frequency">Frequency Blog</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul>
						<li class="title">SHOP</li>
						<li>
							<a href="/index">Coffee</a>
						</li>
						<li>
							<a href="/index">Brewing</a>
						</li>
						<li>
							<a href="/index">Gifts</a>
						</li>
						<li>
							<a href="/shop">Subscriptions</a>
						</li>
						<li>
							<a href="/index">Gift Subscriptions</a>
						</li>
						<li>
							<a href="/index">Special Orders</a>
						</li>
						<li>
							<a href="/index">Redeem Your Gift</a>
						</li>
						<li>
							<a href="/help">Return Policy</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul>
						<li class="title">BREW GUIDES</li>
						<li>
							<a href="/index">Aeropress</a>
						</li>
						<li>
							<a href="/index">Chemex</a>
						</li>
						<li>
							<a href="/index">Cold Brew</a>
						</li>
						<li>
							<a href="/index">Pour Over</a>
						</li>
						<li>
							<a href="/index">French Press</a>
						</li>
						<li>
							<a href="/index">New Orleans Iced</a>
						</li>
						<li>
							<a href="/index">Siphon</a>
						</li>
						<li>
							<a href="/preparation-guides">More...</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul>
						<li class="title">SPECIAL COLLECTIONS</li>
						<li>
							<a href="/index">Perfectly Ground Coffee</a>
						</li>
						<li class="title">COMPANY</li>
						<li>
							<a href="/careers">Careers</a>
						</li>
						<li>
							<a href="/contact">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="links col-md-3 col-md-offset-2">
					<p>CONNECT WITH US</p>
					<a href="javaScript:void(0)"><img src="images/facebook.jpg" /></a>
					<a href="javaScript:void(0)"><img src="images/instagram.gif" /></a>
					<a href="javaScript:void(0)"><img src="images/twitter.jpg" /></a>
				</div>
				<div class="signUp col-md-6">
					<img src="images/plan.jpg" />
					<div class="box">
						<h5>STAY UPDATED WITH BLUE BOTTLE COFFEE</h5>
						<p>Sign up for stories, coffee tips, and brewing equipment</p>
						<input type="text" placeholder="Your email here" />
						<button class="btn btn-primary">SIGN UP</button>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
