<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/js1.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/css1.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" type="text/css" href="css/footer.css" />
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<header>
		<div class="head">
			<div class="left">
				<a href="/index">
					<img src="images/logo.png" />
					<p>BLUE BOTTLE COFFEE</p>
				</a>
			</div>
			<ul class="menu">
				<li>
					<a href="/shop">SHOP</a>
					<span class="infos info"><a href="/shop">Subscriptions</a></span>
				</li>
				<li>
					<a href="/bay_area">VISIT</a>
					<ul class="infos visit list-inline">
						<li>
							<a href="/bay_area">Bay Area</a>
						</li>
						<li>
							<a href="/new_york">New York</a>
						</li>
						<li>
							<a href="/los_angeles">Los Angeles</a>
						</li>
						<li>
							<a href="/dc">Washington, D.C.</a>
						</li>
						<li>
							<a href="/miami">Miami</a>
						</li>
						<li>
							<a href="/boston">Boston</a>
						</li>
						<li>
							<a href="/tokyo">Tokyo</a>
						</li>
						<li>
							<a href="/kyoto">Kyoto</a>
						</li>
						<li>
							<a href="/kobe">Kobe</a>
						</li>
						<li>
							<a href="/retailer">Take Home</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javaSCript:void(0)">LEARN</a>
					<ul class="infos visit learn list-inline">
						<li>
							<a href="/our-story">Our Story</a>
						</li>
						<li>
							<a href="/our-coffee">Our Coffee</a>
						</li>
						<li>
							<a href="/coffee-match">Find Your Coffee Match</a>
						</li>
						<li>
							<a href="/preparation-guides">Brew Guides</a>
						</li>
						<li>
							<a href="/events">Events & Classes</a>
						</li>
						<li>
							<a href="/frequency">Blog</a>
						</li>
						<li>
							<a href="/help">FAQs</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/careers">CAREERS</a>
				</li>
			</ul>
			<div class="right">
				<a class="colorful" href="/shop">SUBSCRIBE</a>
				<a href="/sign_in">SIGN IN</a>
			</div>
		</div>
	</header>
	<div class="row signIn">
		<div class="col-md-8 col-md-offset-2 login text-center">
			<div>
				<button type="button" class="close" aria-label="Close" onclick="closeSign()"><span aria-hidden="true" onclick="closeSign()">&times;</span></button>
			</div>
			<img class="plan" src="images/plan.jpg" />
			<div class="text-center">
				<h2>More Cafes Coming Soon</h2>
				<p>Sign up to be the first to know when we're in your area</p>
			</div>
			<div class="text-center">
				<div>
					<input type="" class="name" placeholder="you@yourname.com" />
					<button type="submit" class="btn btn-primary">SIGN UP</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var signIn = document.getElementsByClassName('signIn')[0];

		function closeSign() {
			signIn.style.display = 'none';
		}
	</script>
	<hr />
	<div class="er">
		<p class="kadei">Our Coffee</p>
	</div>
	<div class="guding">
		<div class="diyi">
			<p class="wenzi">“Green coffee is a living thing, more like produce than an inert spice or candy, and each one has a
				unique life span based on who produced it and where it's from.” <br />—Charlie Habegger, Green Coffee Buyer</p>
			<p class="wenzi">Flavor in coffee is a crescendo—no part of the journey is boring. In our cafes, we taste each
				coffee to determine the precise days on which it will achieve peak flavor (<a class="chao1" href="#">Hayes Valley
					Espresso</a>, for instance, really sings on days 4–7). We only serve the absolute freshest coffee to you in our
				cafes and on our webshop.</p>
		</div>
	</div>

	<div class="daokafei"></div>


	<div class="guding2">
		<div class="diyi">
			<p class="biaoyi2">WHEN WILL MY COFFEE ACHIEVE PEAK FLAVOR?</p>
			<p class="wenzi2">Single origins, blends, and espresso hit peak flavor at different paces and then stay at their
				“peak” range for two or three days. Try our coffee at different stages to experience their flavor evolution. (Then,
				throw out the rules and map your own preferences.) <samp class="qiangdiao">Please consume within two weeks of roast
					date.</samp></p>
			<div class="fengexian"></div>
			<p class="biaoyi2">WHOLE BEAN COFFEE PEAK FLAVOR AND FRESHNESS GUIDE</p>
			<img class="tu1" src="images/表格.jpg" />
		</div>
	</div>
	<div class="beijin">
		<img class="tu2" src="images/咖啡2.jpg" />
		<div class="nei1">
			<p class="biaoyi3">WHEN SHOULD I BREW WHOLE BEAN COFFEE?</p>
			<p class="wenzi">You can start brewing whole bean coffee the day you buy it. Refer to the deliciousness matrix above
				to identify your coffee’s peak flavor range. If you buy espresso beans, a rest or “de-gassing” period is extra
				important for pulling a sublime shot. We talk all about that<a href="#"> here</a>.</p>
			<p class="biaoyi3">WHEN SHOULD I BREW PERFECTLY GROUND?</p>
			<p class="wenzi"><a href="#">Perfectly Ground </a>makes this all very simple, because we only grind the coffee used
				for it on the precise day that it is most delicious. Not a day sooner. (At some point, we’ll get this down to the
				hour.)</p>
			<p class="wenzi">When you grab an envelope of Perfectly Ground, you’ll know you’re hitting peak flavor just by
				tearing it open.</p>
		</div>
	</div>

	<div class="wenkafei"></div>
	<div class="guding">
		<div class="diyi">
			<p class="biaoyi">HOW DO WE EVALUATE DELICIOUSNESS?</p>
			<p class="wenzi">Basically, it’s a science experiment.</p>
			<p class="wenzi">We set up blind taste tests at different days out of the roaster. We <a href="#"> taste each batch</a>repeatedly.<a
				 href="#">James</a> and our team of roasting and quality control experts cup all of our coffees before they go into
				the world. We repeat this process every day. Each time we change a component of one of our blends, we start over.
				Every time a new single origin is introduced (three to five times per month) we go through the process anew. </p>
			<p class="wenzi">We then identify a window of peak flavor. When a coffee hits that range, it goes into service at
				our cafes and onto the shelves as whole beans.</p>
		</div>
	</div>
	<div class="fengexian"></div>
	<div>
		<img class="tubiao1" src="images/图标1.jpg" />
		<p class="zhici">Our support</p>
		<p class="wenzi2">The kind souls on the support team are always here to help.</p>
		<p class="wenzi2">Reach out to Daniel, Tom, Alyssa, Serah, or Mandi today.</p>
		<p><a class="chao2" href="/contact">CONTACT US<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
	</div>
	<div class="fengexian"></div>
	<footer class="row">
		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<ul>
					<li class="title">BASICS</li>
					<li>
						<a href="/our-story">Our Story</a>
					</li>
					<li>
						<a href="/our-coffee">Our Coffee</a>
					</li>
					<li>
						<a href="/bay_area">Visit</a>
					</li>
					<li>
						<a href="/index">NOLA&Cold Brew</a>
					</li>
					<li>
						<a href="/events">Events</a>
					</li>
					<li>
						<a href="/index">Modern Art Desserts</a>
					</li>
					<li>
						<a href="/help">FAQ</a>
					</li>
					<li>
						<a href="/frequency">Frequency Blog</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul>
					<li class="title">SHOP</li>
					<li>
						<a href="/index">Coffee</a>
					</li>
					<li>
						<a href="/index">Brewing</a>
					</li>
					<li>
						<a href="/index">Gifts</a>
					</li>
					<li>
						<a href="/shop">Subscriptions</a>
					</li>
					<li>
						<a href="/index">Gift Subscriptions</a>
					</li>
					<li>
						<a href="/index">Special Orders</a>
					</li>
					<li>
						<a href="/index">Redeem Your Gift</a>
					</li>
					<li>
						<a href="/help">Return Policy</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul>
					<li class="title">BREW GUIDES</li>
					<li>
						<a href="/index">Aeropress</a>
					</li>
					<li>
						<a href="/index">Chemex</a>
					</li>
					<li>
						<a href="/index">Cold Brew</a>
					</li>
					<li>
						<a href="/index">Pour Over</a>
					</li>
					<li>
						<a href="/index">French Press</a>
					</li>
					<li>
						<a href="/index">New Orleans Iced</a>
					</li>
					<li>
						<a href="/index">Siphon</a>
					</li>
					<li>
						<a href="/preparation-guides">More...</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li class="title">SPECIAL COLLECTIONS</li>
					<li>
						<a href="/index">Perfectly Ground Coffee</a>
					</li>
					<li class="title">COMPANY</li>
					<li>
						<a href="/careers">Careers</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="links col-md-3 col-md-offset-2">
				<p>CONNECT WITH US</p>
				<a href="javaScript:void(0)"><img src="images/facebook.jpg" /></a>
				<a href="javaScript:void(0)"><img src="images/instagram.gif" /></a>
				<a href="javaScript:void(0)"><img src="images/twitter.jpg" /></a>
			</div>
			<div class="signUp col-md-6">
				<img src="images/plan.jpg" />
				<div class="box">
					<h5>STAY UPDATED WITH BLUE BOTTLE COFFEE</h5>
					<p>Sign up for stories, coffee tips, and brewing equipment</p>
					<input type="text" placeholder="Your email here" />
					<button class="btn btn-primary">SIGN UP</button>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>