<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/js1.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/css3.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" type="text/css" href="css/footer.css" />
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<header>
		<div class="head">
			<div class="left">
				<a href="/index">
					<img src="images/logo.png" />
					<p>BLUE BOTTLE COFFEE</p>
				</a>
			</div>
			<ul class="menu">
				<li>
					<a href="/shop">SHOP</a>
					<span class="infos info"><a href="/shop">Subscriptions</a></span>
				</li>
				<li>
					<a href="/bay_area">VISIT</a>
					<ul class="infos visit list-inline">
						<li>
							<a href="/bay_area">Bay Area</a>
						</li>
						<li>
							<a href="/new_york">New York</a>
						</li>
						<li>
							<a href="/los_angeles">Los Angeles</a>
						</li>
						<li>
							<a href="/dc">Washington, D.C.</a>
						</li>
						<li>
							<a href="/miami">Miami</a>
						</li>
						<li>
							<a href="/boston">Boston</a>
						</li>
						<li>
							<a href="/tokyo">Tokyo</a>
						</li>
						<li>
							<a href="/kyoto">Kyoto</a>
						</li>
						<li>
							<a href="/kobe">Kobe</a>
						</li>
						<li>
							<a href="/retailer">Take Home</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javaSCript:void(0)">LEARN</a>
					<ul class="infos visit learn list-inline">
						<li>
							<a href="/our-story">Our Story</a>
						</li>
						<li>
							<a href="/our-coffee">Our Coffee</a>
						</li>
						<li>
							<a href="/coffee-match">Find Your Coffee Match</a>
						</li>
						<li>
							<a href="/preparation-guides">Brew Guides</a>
						</li>
						<li>
							<a href="/events">Events & Classes</a>
						</li>
						<li>
							<a href="/frequency">Blog</a>
						</li>
						<li>
							<a href="/help">FAQs</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/careers">CAREERS</a>
				</li>
			</ul>
			<div class="right">
				<a class="colorful" href="/shop">SUBSCRIBE</a>
				<a href="/sign_in">SIGN IN</a>
			</div>
		</div>
	</header>
	<div class="row signIn">
		<div class="col-md-8 col-md-offset-2 login text-center">
			<div>
				<button type="button" class="close" aria-label="Close" onclick="closeSign()"><span aria-hidden="true" onclick="closeSign()">&times;</span></button>
			</div>
			<img class="plan" src="images/plan.jpg" />
			<div class="text-center">
				<h2>More Cafes Coming Soon</h2>
				<p>Sign up to be the first to know when we're in your area</p>
			</div>
			<div class="text-center">
				<div>
					<input type="" class="name" placeholder="you@yourname.com" />
					<button type="submit" class="btn btn-primary">SIGN UP</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var signIn = document.getElementsByClassName('signIn')[0];

		function closeSign() {
			signIn.style.display = 'none';
		}
	</script>
	<hr />
	<div class="yi">
		<p class="wo">Our Story</p>
	</div>
	<div class="guding">
		<div class="diyi">
			<p class="biaoyi">KOLSHITSKY & THE FIRST BLUE BOTTLE</p>
			<p class="wenzi">The apocryphal tale goes like this: In the late 1600s, the Turkish army swept across much of
				Eastern and Central Europe, arriving at Vienna in 1683. Besieged and desperate, the Viennese needed an emissary who
				could cross Turkish lines to get a message to nearby Polish troops. Franz George Kolshitsky, who spoke Turkish and
				Arabic, took on the assignment disguised in Turkish uniform. After many perilous close calls, Kolshitsky completed
				his valiant deed, delivering news of the Poles’ imminent rescue to Vienna.</p>
			<p class="wenzi">On September 13, the Turks were repelled from the city, leaving everything they brought, including
				strange bags of beans, which were thought to be camel feed. Kolshitsky, having lived in the Arab world for several
				years, knew these to be bags of coffee. Using money bestowed on him by the mayor of Vienna, Kolshitsky bought the
				coffee and opened Central Europe’s first-ever coffee house (The Blue Bottle), bringing coffee to a grateful Vienna.</p>
			<img class="tu1" src="images/第一个蓝瓶.jpg" />
			<p class="biaoyi2">319 YEARS LATER</p>
			<p class="wenzi">In the early 2000s, in Oakland, California, a slightly disaffected freelance musician and coffee
				lunatic, weary of the commercial coffee enterprise and stale, overly roasted beans, decided to open a roaster for
				people who were clamoring for the actual taste of fresh coffee. Using a minuscule six-pound batch roaster, he made
				a historic vow: “I will only sell coffee less than 48 hours out of the roaster to my guests, so they may enjoy
				coffee at peak flavor. I will only use the finest, most delicious, and responsibly sourced beans.”</p>
			<p class="wenzi">In honor of Kolshitsky’s heroics, he named his business Blue Bottle Coffee and began another
				chapter in the history of superlative coffee.</p>
			<p class="wenzi">Now, more than fifteen years later, and thanks to the enthusiastic support of many loyal guests,
				Blue Bottle Coffee has grown to a network of cafes across the U.S. and in Japan. We are still united by the simple
				purpose of getting great coffee to everyone who asks for it.<span class="qiangdiao">We have gotten even<a class="chao1"
					 href="#">more specific</a>about freshness and peak flavor.</span>Improbably and delightfully, there are hundreds
				of us now.</p>
			<p class="wenzi">We look forward to seeing you soon.</p>
			<img class="tu1" src="images/咖啡1.jpg" />
			<p class="biaoyi2">MAY WE BRING YOU COFFEE?</p>
			<p class="wenzi">The first method of selling coffee we tried was enjoyable but short-lived:</p>
			<p class="wenzi">We would call our customers, have a conversation about what kind of coffee they liked, and how much
				they tended to drink, and, if it was a good conversation, we would take their credit card number and make them a
				promise: to drive to their homes once a week and drop coffee on their doorstep.</p>
			<p class="wenzi">This turned out to be a fraught business model for a number of reasons—and besides, there is only
				so much coffee you can pack into your<a class="chao1" href="#">Peugeot 505</a>wagon—but it is still, more or less,
				what we are trying to do.</p>
			<p class="wenzi">We work directly with farmers around the world to source the most delicious and sustainable coffees
				we can find. Then, we roast them to our exacting flavor standards, and serve them to you at peak deliciousness,
				hopefully alongside a good conversation and some friendly advice. We think it’s a privilege to deliver the coffees
				we love, by farmers we admire, into your <a class="chao1" href="#">hands</a> or onto your <a class="chao1" href="#">doorstep</a>.</p>
			<img class="tu1" src="images/喝咖啡.jpg" />
			<p class="biaoyi2">WHO ARE OUR PEOPLE?</p>
			<p class="wenzi">Our people are the kindest, most hardworking and talented in the business. We’re an impossibly
				eclectic group of coffee experts, artists, writers, sensory scientists, bakers, designers, and all-around dreamers.
				<a class="chao1" href="#">Join us.</a></p>
		</div>
	</div>
	<div class="fengexian"></div>
	<div>
		<img class="tubiao1" src="images/图标1.jpg" />
		<p class="zhici">Our support</p>
		<p class="wenzi2">The kind souls on the support team are always here to help.</p>
		<p class="wenzi2">Reach out to Daniel, Tom, Alyssa, Serah, or Mandi today.</p>
		<p><a class="chao2" href="/contact">CONTACT US<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
	</div>
	<div class="fengexian"></div>
	<footer class="row">
		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<ul>
					<li class="title">BASICS</li>
					<li>
						<a href="/our-story">Our Story</a>
					</li>
					<li>
						<a href="/our-coffee">Our Coffee</a>
					</li>
					<li>
						<a href="/bay_area">Visit</a>
					</li>
					<li>
						<a href="/index">NOLA&Cold Brew</a>
					</li>
					<li>
						<a href="/events">Events</a>
					</li>
					<li>
						<a href="/index">Modern Art Desserts</a>
					</li>
					<li>
						<a href="/help">FAQ</a>
					</li>
					<li>
						<a href="/frequency">Frequency Blog</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul>
					<li class="title">SHOP</li>
					<li>
						<a href="/index">Coffee</a>
					</li>
					<li>
						<a href="/index">Brewing</a>
					</li>
					<li>
						<a href="/index">Gifts</a>
					</li>
					<li>
						<a href="/shop">Subscriptions</a>
					</li>
					<li>
						<a href="/index">Gift Subscriptions</a>
					</li>
					<li>
						<a href="/index">Special Orders</a>
					</li>
					<li>
						<a href="/index">Redeem Your Gift</a>
					</li>
					<li>
						<a href="/help">Return Policy</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul>
					<li class="title">BREW GUIDES</li>
					<li>
						<a href="/index">Aeropress</a>
					</li>
					<li>
						<a href="/index">Chemex</a>
					</li>
					<li>
						<a href="/index">Cold Brew</a>
					</li>
					<li>
						<a href="/index">Pour Over</a>
					</li>
					<li>
						<a href="/index">French Press</a>
					</li>
					<li>
						<a href="/index">New Orleans Iced</a>
					</li>
					<li>
						<a href="/index">Siphon</a>
					</li>
					<li>
						<a href="/preparation-guides">More...</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li class="title">SPECIAL COLLECTIONS</li>
					<li>
						<a href="/index">Perfectly Ground Coffee</a>
					</li>
					<li class="title">COMPANY</li>
					<li>
						<a href="/careers">Careers</a>
					</li>
					<li>
						<a href="/contact">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="links col-md-3 col-md-offset-2">
				<p>CONNECT WITH US</p>
				<a href="javaScript:void(0)"><img src="images/facebook.jpg" /></a>
				<a href="javaScript:void(0)"><img src="images/instagram.gif" /></a>
				<a href="javaScript:void(0)"><img src="images/twitter.jpg" /></a>
			</div>
			<div class="signUp col-md-6">
				<img src="images/plan.jpg" />
				<div class="box">
					<h5>STAY UPDATED WITH BLUE BOTTLE COFFEE</h5>
					<p>Sign up for stories, coffee tips, and brewing equipment</p>
					<input type="text" placeholder="Your email here" />
					<button class="btn btn-primary">SIGN UP</button>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>