.kuangjia{
		
	width: 960px;
	margin: auto;

}
.xiaokungjia{
	width: 500px;
	margin-top: 60px;
	margin-left: 230px;

}
.biaoti{
	font-size: 28px;
	text-align: center;
}
.jieshi{
	text-align: center;
	font-size: 22px;
}
.tupian{
	position: relative;
	width: 900px;

}
.tu{
position: absolute;
left: 0px;
top: 20px;
	
}
.tu1{
	width: 240px;
	height: 146px;
}
.zi{
position: absolute;
top: 40px;
left: 290px;
}
.zi1{
	font-size: 20px;
}
.zi2{
	font-size: 16px;
}
.zi3{
	font-size: 18px;
}

.tupian2{
	position: relative;
	width: 900px;
    margin-top: 220px;
}
.tupian3{
	position: relative;
	width: 900px;
    margin-top: 440px;
}
.tupian4{
	position: relative;
	width: 900px;
    margin-top: 660px;
}
.tupian5{
	position: relative;
	width: 900px;
    margin-top: 880px;
}

.tupian6{
	position: relative;
	width: 900px;
    margin-top: 1100px;
}
.tupian7{
	position: relative;
	width: 900px;
    margin-top: 1320px;
}
.tupian8{
	position: relative;
	width: 900px;
    margin-top: 1540px;
}
.tupian9{
	position: relative;
	width: 900px;
    margin-top: 1760px;
}

.tupian10{
	position: relative;
	width: 900px;
    margin-top: 1980px;
}
.tupian11{
	position: relative;
	width: 900px;
    margin-top: 2200px;
}
.tupian12{
	position: relative;
	width: 900px;
    margin-top: 2420px;
}
.tupian13{
	position: relative;
	width: 900px;
    margin-top: 2640px;
}

.tupian14{
	position: relative;
	width: 900px;
    margin-top: 2860px;
}
.tupian15{
	position: relative;
	width: 900px;
    margin-top: 3080px;
}
.fenye{
	display: inline-block;
	margin-top: 200px;
}
.fengexian {
	width: 100%;
	height: 1px;
	background-color: #464547;
}















































